# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Virtual environment
venv/
env/

# Playwright
test-results/
playwright-report/
allure-results/
allure-report/

# Debug files
*.png
*.jpg

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db